@page "/counter"
@using Entities.Entidades_Definicion
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<DxButton ButtonType="ButtonType.Normal" Click="@IncrementCount" Text="Pulsa"/>

<DxAccordion @ref="@Acordeon" AnimationType="LayoutAnimationType.Slide">
    <Items>
        <DxAccordionItem Text="Acordeon xD">
            <ContentTemplate Context="A">
                <div class="d-flex overflow-auto justify-content-around flex-column" style="margin:20px;">
                    <label>Tipo mensaje:</label> <input style="height:25px;" value="@Mensaje.MessageType.ToString()" readonly />
                    <label>Nombre:</label> <input style="height:25px;" value="@Mensaje.Name" readonly />
                    <label>Descripción:</label> <input style="height:25px;" value="@Mensaje.Description" readonly />
                    <label>Versión:</label> <input style="height:25px;" value="@Mensaje.Version" readonly />
                    <label>Directorio:</label> <input style="height:25px;" value="@Mensaje.Directory" readonly />
                </div>
            </ContentTemplate>
        </DxAccordionItem>
    </Items>
</DxAccordion>

@code {
    private int currentCount = 0;

    private DxAccordion Acordeon = default!;
	private Message Mensaje = new Message();


    private void OnShowingAsync(AccordionEventArgs args)
    {
        new ToastMessage(
            type: ToastType.Primary,
            message: $"Event Name: Showing, AccordionItemName: {args.Name}, AccordionItemTitle: {args.Title}");
    }

    private void OnShownAsync(AccordionEventArgs args)
    {
        new ToastMessage(
            type: ToastType.Primary,
            message: $"Event Name: OnShown, AccordionItemName: {args.Name}, AccordionItemTitle: {args.Title}");
    }

    private void OnHidingAsync(AccordionEventArgs args)
    {
        new ToastMessage(
            type: ToastType.Primary,
            message: $"Event Name: OnHiding, AccordionItemName: {args.Name}, AccordionItemTitle: {args.Title}");
    }

    private void OnHiddenAsync(AccordionEventArgs args)
    {
        new ToastMessage(
            type: ToastType.Primary,
            message: $"Event Name: OnHidden, AccordionItemName: {args.Name}, AccordionItemTitle: {args.Title}");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
