@page "/listado-edi"
@using ProyectoEDI.Components.Services
@using Entities.Entidades_Representacion.Abstract
@using Entities.Entidades_Representacion.Segments
@inject NavigationManager Navigation
@inject SegmentService SegmentService
<PageTitle>Listar Mensaje</PageTitle>
<h3 class="text-center">Listado de Segmentos:</h3>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Obligatorio</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (SegmentService.GetSegments().Count!=0)
            {
                @foreach (var s in SegmentService.GetSegments())
                {
                    <tr>
                        <td>@s.SegmentCode</td>
                        <td>@s.SegmentName</td>
                        <td>@s.SegmentDescription</td>
                        <td>@s.Obligatory</td>

                        <td>
                            <button class="btn btn-success" >Ver Mensaje</button>
                            <button class="btn btn-warning" @onclick="@Modificar(s.SegmentId)">Modificar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No hay mensajes disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {

    Segment Segment = new UnhSegment();

    private int id = 1;
    private string codigo = "23dawsd";
    private string nombre = "un nombre";
    private string desc = "una descripcion";
    private bool obligatorio = true;

    protected override void OnInitialized()
    {
        Console.WriteLine("Segmento Añadido");
        Segment.SegmentId = id;
        Segment.SegmentCode = codigo;
        Segment.SegmentName = nombre;
        Segment.SegmentDescription = desc;
        Segment.SegmentPositions = new List<Entities.Entidades_Definicion.SegmentPosition>();
        Segment.Obligatory = obligatorio;
        SegmentService.AddSegment(Segment);
    }

    private void Modificar(Segment Segment)
    {
        Navigation.NavigateTo($"/modificar-segmento/{Segment.SegmentId}");
    }
}