@page "/listar-mensaje"
@using Entities.Entidades_Definicion
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Listar Mensaje</PageTitle>

<ConfirmDialog @ref="Dialogo" />

<h3 class="text-center">Listado de Mensajes:</h3>
<div class="container">
    <table class="table table-striped table-hover">
        <thead class="">
            <tr>
                <th>Tipo de Mensaje</th>
                <th>Versión</th>
                <th>Release</th>
                <th>Directorio</th>
                <th>Nombre</th>
                <th>Descripción</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="">
            @if (Messages != null && Messages.Any())
            {
                @foreach (var message in Messages)
                { 
                    <tr class="table-bordered" @onmousedown="(e) => AccionesMouseTr(e, message.Id)">
                        <td>@message.MessageType</td>
                        <td>@message.Version</td>
                        <td>@message.Release</td>
                        <td>@message.Directory</td>
                        <td>@message.DirectoryVersion</td>
                        <td>@message.Name</td>
                        <td>@message.Description</td>
                        <td>
                            <button class="btn btn-info btn-sm" @onclick="() => VerMensaje(message.Id)">Ver</button>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditarMensaje(message.Id)">Modificar</button>
                            <button class="btn btn-danger btn-sm" @onclick="() => EditarMensaje(message.Id)">Eliminar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="">
                    <td colspan="7" class="text-center">No hay mensajes disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    public static List<Message> Messages = new List<Message>();
    private ConfirmDialog Dialogo = default!;

    private async Task ShowConfirmationAsync(int Id)
    {
        var confirmation = await Dialogo.ShowAsync(
            title: "¿Quieres eliminar el mensaje?",
            message1: "Una vez hecho esto, no se podra deshacer.",
            new ConfirmDialogOptions
                {
                    YesButtonText = "Si",
                    YesButtonColor = ButtonColor.Danger,
                    NoButtonText = "No",
                    NoButtonColor = ButtonColor.Primary
                });


        if (confirmation)
        {
            // do something
            Console.WriteLine("Mensaje eliminado");
            EliminarMensaje(Id);
        }
    }

    private void AnyadirCodeList()
    {
        Console.WriteLine("Añadir Mensaje");
        NavigationManager.NavigateTo("/crear-mensaje");
    }

    private void VerMensaje(int Id)
    {
        Console.WriteLine($"Ver lista de códigos con ID: {Id}");
        NavigationManager.NavigateTo($"/visualizacionedi/{Id}");
    }

    private void EditarMensaje(int Id)
    {
        Console.WriteLine($"Editar mensaje con ID: {Id}");
        NavigationManager.NavigateTo($"/modificar-mensaje/{Id}");
    }

    private void EliminarMensaje(int Id)
    {

        Console.WriteLine($"Eliminar mensaje con ID: {Id}");
        Message M = Messages.FirstOrDefault(c => c.Id == Id);
        if (M != null)
        {
            Messages.Remove(M);
            Console.WriteLine($"mensaje eliminado: {M.Name}");
        }
    }

    private void AccionesMouseTr(MouseEventArgs e, int Id)
    {
        if (e.Button == 1) // Click central (Rueda del mouse)
        {
            Console.WriteLine($"Botón central presionado en el mensaje con ID: {Id}");
            ShowConfirmationAsync(Id);
        }
        if (e.Button == 0 && e.CtrlKey == true) // Click izquierdo y Control a la vez
        {
            Console.WriteLine($"Botón izquierdo y Control presionado en el mensaje con ID: {Id}");
            VerMensaje(Id);
        }
        if (e.Button == 0 && e.AltKey == true) // Click izquierdo y Alt a la vez
        {
            Console.WriteLine($"Botón izquierdo y Alt presionado en el mensaje con ID: {Id}");
            EditarMensaje(Id);
        }
    }

	private void MostrarPopUp(int Id)
	{
		Console.WriteLine("Mostrar PopUp");
		
	}
}
