@page "/MessagesList"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.WebUtilities
@using Entities.Model.Enum
@using Entities.Entidades_Definicion
@using BusinessLogic.Definition
@inject MessageManager messageManager

<h3>Lista de Mensajes</h3>

@if (!string.IsNullOrEmpty(notificationMessage))
{
    <div class="alert alert-success text-center" role="alert">
        @notificationMessage
    </div>
}

<!--Tabla para mostrar un mensaje con sus respectivos campos-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Versión y fecha del mensaje</th>
            <th>Nombre</th>
            <th>Directorio</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (messageManager.GetAllMessages != null && messageManager.GetAllMessages().Any())
        {
            @foreach (var message in messageManager.GetAllMessages())
            {
                <tr>
                    <td>@message.MessageType</td>
                    <td>@message.MessageVersion @message.MessageRelease</td>
                    <td>@message.MessageName</td>
                    <td>@message.MessageDirectoryVersion</td>
                    <td>@message.MessageDescription</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => ViewMessage(message)">Ver</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteMessage(message)">Eliminar</button>
                        <div>
                            <button class="btn btn-warning btn-sm" @onclick="() => GoEditMessage(message)">Modificar</button>
                            <a   target="_blank" class="btn btn-light btn-sm" @onclick="()=>GoEditMessage(message)">
                                <img src="/bootstrap/images/edit-icon.png" alt="Editar" style="width: 16px; height: 16px;" />
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">No hay mensajes disponibles.</td>
            </tr>
        }
    </tbody>
</table>

<!-- Popup de confirmación -->
@if (showPopUp)
{
    <div class="overlay">
        <div class="popup">
            <h4>¿Confirmar Eliminación?</h4>
            <p>¿Estás seguro de que deseas eliminar el mensaje: <strong>@messageToDelete?.MessageName</strong>?</p>
            <div class="popup-buttons">
                <button class="btn btn-danger" @onclick="ConfirmDeleteMessage">Eliminar</button>
                <button class="btn btn-secondary" @onclick="HandleCancel">Cancelar</button>
            </div>
        </div>
    </div>
}

@code {
    private bool showPopUp = false;
    private Message messageToDelete;
    private string notificationMessage;

    public void ViewMessage(Message message)
    {
        Navigation.NavigateTo($"/MessageDetails/{message.MessageId}");
    }

    private Task DeleteMessage(Message message)
    {
        messageToDelete = message;
        showPopUp = true;
        return Task.CompletedTask;
    }

    private async Task ConfirmDeleteMessage()
    {
        if (messageToDelete != null)
        {
            messageManager.GetAllMessages().Remove(messageToDelete);
            messageToDelete = null;
            showPopUp = false;

            notificationMessage = "El mensaje ha sido borrado con éxito.";
            StateHasChanged();
            await Task.Delay(3000); 
            notificationMessage = null;
            StateHasChanged();
        }
    }

    private void HandleCancel()
    {
        showPopUp = false;
        messageToDelete = null;
    }

    private void GoEditMessage(Message message)
    {
        Navigation.NavigateTo($"/ModifyMessageList/{message.MessageId}");
    }

    private async Task OpenInNewTab(string url)
    {
        await JS.InvokeVoidAsync("openInNewTab", url);
    }


    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("success", out var successValue))
        {
            if (successValue == "modified")
            {
                notificationMessage = "El mensaje ha sido modificado con éxito.";
                _ = HideNotificationAfterDelay();
            }
        }
    }

    private async Task HideNotificationAfterDelay()
    {
        StateHasChanged();
        await Task.Delay(3000);
        notificationMessage = null;
        StateHasChanged();
    }
}
