@page "/MessagesList"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Entities.Model.Enum
@using Entities.Entidades_Definicion;
<h3>Lista de Mensajes</h3>




<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Versión</th>
            <th>Release</th>
            <th>Directorio</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Message.MessagesList != null && Message.MessagesList.Any())
        {
            @foreach (var message in Message.MessagesList)
            {
                <tr>
                    <td>@message.MessageId</td>
                    <td>@message.MessageType</td>
                    <td>@message.MessageVersion</td>
                    <td>@message.MessageRelease</td>
                    <td>@message.MessageDirectoryVersion</td>
                    <td>@message.MessageName</td>
                    <td>@message.MessageDescription</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => ViewMessage(message)">Ver</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteMessage(message)">Eliminar</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No hay mensajes disponibles.</td>
            </tr>
        }
    </tbody>
</table>
@if (showPopUp)
{
    <div class="overlay">
        <div class="popup">
            <h4>¿Confirmar Eliminación?</h4>
            <p>¿Estás seguro de que deseas eliminar el mensaje: <strong>@messageToDelete?.MessageName</strong>?</p>
            <div class="popup-buttons">
                <button class="btn btn-danger" @onclick="ConfirmDeleteMessage">Eliminar</button>
                <button class="btn btn-secondary" @onclick="HandleCancel">Cancelar</button>
            </div>
        </div>
    </div>
}



@code {




    private bool showPopUp = false;
    private Message messageToDelete;
    public void ViewMessage(Message message)
	{
		Navigation.NavigateTo($"/MessageDetails/{message.MessageId}");
	}
    private void DeleteMessage(Message message)
    {
        messageToDelete = message;
        showPopUp = true;
    }

    private void ConfirmDeleteMessage()
    {
        if (messageToDelete != null)
        {
            Message.MessagesList.Remove(messageToDelete);
            messageToDelete = null;
        }

        showPopUp = false;
    }

    private void HandleCancel()
    {
        showPopUp = false;
        messageToDelete = null;
    }

}