<h3>TranasformPla</h3>


@*
<DxTreeView @ref="treeView" AllowSelectNodes="true" CssClass="mt-4" style="--dxbl-treeview-item-indent: 0 !important;" NodeExpandCollapseAction="TreeViewNodeExpandCollapseAction.NodeClick">
    <Nodes>
        @foreach (var position in message.MessagePositions)
        {
            Random rnd = new Random();
            <DxTreeViewNode Name="@(string.Format("{0}", rnd.Next(0, 100000).ToString()))" style="@(string.Format("background-color: {0}; border-bottom:1px solid black" , position.SegmentGroup!=null ? "lightgreen" : "rgb(255, 128, 128)"))">
                <Template>
                    @if (position.SegmentGroup != null)
                    {
                        <table class="table" style="margin:0px">
                            <tbody>
                                <tr>
                                    <td width="20" style="border-right: 1px solid black;border-left: 1px solid black">
                                        <small class="@GetNodeExpandButtonCssClass(context.Name)"></small>
                                    </td>
                                    <td width="225" style="border-right: 1px solid black;border-left: 1px solid black">
                                        <span><strong>Grupo segmento @position.SegmentGroup.SegmentList - @position.SegmentGroup.SegmentList.FirstOrDefault().Code</strong></span>
                                    </td>
                                    <td>position.SegmentGroup.obligatory</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table" style="margin:0px">
                            <tbody>
                                <tr>
                                    <td width="20" style="border-right: 1px solid black;border-left: 1px solid black">
                                        <small class="@GetNodeExpandButtonCssClass(context.Name)"></small>
                                    </td>
                                    <td width="400" style="border-right: 1px solid black;border-left: 1px solid black">
                                        <span><strong>@position.Segment.SegmentCode - @position.Segment.Name</strong></span>
                                    </td>
                                    <td width="600" style="border-right: 1px solid black;border-left: 1px solid black">@position.Segment.Description</td>
                                    <td>position.Segment.Description</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </Template>
                <Nodes>
                    @if (position.SegmentGroup != null)
                    {
                        <MensajeDetailsSegmentGroup SegmentGroup="@position.SegmentGroup" TreeView="treeView"/>
                    }
                    else
                    {
                        <MensajeDetailsSegmentPosition PosicionesSegmento="@position.Segment.Positions" TreeView="treeView" />
                    }
                </Nodes>
            </DxTreeViewNode>
        }
    </Nodes>
</DxTreeView>
*@
@code {

    Message message = new Message();
  /*
    string GetNodeExpandButtonCssClass(string nodeName)
    {
        return String.Format("oi oi-chevron-{0}", TreeView.GetNodeExpanded(n => n.Name == nodeName) ? "bottom" : "right");
    }
  */
}
